<header>
    <nav>
        <ul>
            <li><a href="/radar">Radar</a></li>
            <li><a href="/hangar">Hangar</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/rescue">Missions</a></li>
        </ul>
    </nav>
</header>